
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html, body {
    height: 100%;
    margin: 0;
    background-color: #D5E1EF;
}
#center-container{
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    height: 100%;            /* Ensures the container takes up the full height of the body */
    width: 100%;
}
#content {
    width: 285px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
    font-family: "Outfit";
    box-shadow: 2px 10px 15px rgba(136,136,136, 0.3);
}
#content p {
    color: gray;
    width: 250px;
    display: inline-block;
    margin-top: 0;
    font-family: "Outfit";
}

#content img {
    margin-bottom: 0;
    border-radius: 10px;
}

